package views

templ Controls() {
	<wc-controls hx-ext="ws" ws-connect="/ws">
		<form id="form" ws-send>
			<input type="hidden" name="event" value="reseed"/>
			<button type="submit">Reseed</button>
		</form>
		<div id="page_sizes" style="display: flex"></div>
		<div id="pages" style="display: flex"></div>
	</wc-controls>
}
