package views

templ RootLayout(title string, records []ViewRecord) {
	<html>
		<head>
			<title>{ title }</title>
			<script src="https://unpkg.com/htmx.org@1.9.9"></script>
            <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
		</head>
		<body>
			@Controls()
			@RecordTable(records)
		</body>
	</html>
}
